h1 {
    margin-bottom: 50px;
    font-size: 60px;
    font-weight: bold;
    color: #0A4185;
}

h2 {
    margin-bottom: 25px;
    font-size: 35px;
}

h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

html,
body {
  height: 100%;
}

body {
    text-align: center;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
}

#wrapper {
    align-self: stretch;
    align-content: center;
    width: 960px;
    min-height: 80%;
    padding: 5% 0;
    margin: 5% auto;
    
    
}

#sub-wrapper {
    align-self: stretch;
    align-content: center;
    position: relative;
    background-color: #FEECB4;
    font-size: 28;
}



button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 10px auto 0;
    font-size: 25px;
    cursor: pointer;
    /* background: transparent; */
    border: 0;
    background-color: #0A4185;

  }